@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('Noto Sans Light'), local('Noto Sans Light');
    src: url(../fonts/NotoSans-Light.eot);
    src: url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NotoSans-Light.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('Noto Sans Regular'), local('Noto Sans Regular');
    src: url(../fonts/NotoSans-Regular.eot);
    src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('Noto Sans Medium'), local('Noto Sans Medium');
    src: url(../fonts/NotoSans-Medium.eot);
    src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('Noto Sans Bold'), local('Noto Sans Bold');
    src: url(../fonts/NotoSans-Bold.eot);
    src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NotoSans-Bold.woff) format('woff');
}